# AWS Project Level
ACCOUNT_ID=
S3_BUCKET=
PROJECT=
REGION=
PROFILE=

# AWS Secrets
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Local Dev Database Config
DB_SERVER=localhost
DB_PORT=27017
DB_USER=development
DB_PASSWORD=development
DB_NAME=development
DB_AWS_TLS_ENABLED=true

# Tunnel to DocumentDB Config
AWS_SSH_USERNAME=
AWS_SSH_KEY=
AWS_SSH_HOST=
AWS_DB_SERVER=
AWS_DB_USER=
AWS_DB_PASSWORD=
AWS_DB_NAME=
